<div class="task">
  <h4>{{ task.title }}</h4>
  <p>{{ task.description }}</p>
  <select [(ngModel)]="task.status" (ngModelChange)="updateStatus($event)">
    <option value="To Do">To Do</option>
    <option value="In Progress">In Progress</option>
    <option value="Done">Done</option>
  </select>
  <button (click)="deleteTask()" class="delete-btn"><img src="../../../assets/delete.png" class="hola"
      alt="boton"></button>
  <button (click)=" editTask()" class="edit-btn"><img src="../../../assets/edit.png" class="hola" alt="boton"></button>
</div>