/* Individual Task */
.task {
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

.task-title {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
}

.task-description {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

.task-status {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

/* Edit and delete buttons*/
.delete-btn,
.edit-btn {
    background-color: #e9e6e6;
    padding: 5px 5px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 8px;
    font-weight: 700;
    letter-spacing: 0.9px;
}

.edit-btn img {
    width: 20px;
    height: 20px;
}

.edit-btn {
    background-color: #3690ac;
}

.edit-btn:hover {
    background-color: #106580;
}

.delete-btn img {
    width: 20px;
    height: 20px;
}

.delete-btn {
    background-color: #e75348;
}

.delete-btn:hover {
    background-color: #e03327;
}

select {
    background-color: ghostwhite;
    border-radius: 20%;
    padding: 5px;
    font-weight: bold;
}