<div class="container">
  <header>
    <!--<img src="../../../assets/person.png" alt="Perfil photo">
    <label>Allis</label> -->
    <button type="submit" class="out-btn" (click)="logout()">Log out</button>
  </header>

  <h1>{{ title }}</h1>

  <!-- Task Form -->
  <app-task-form (onSubmit)="addTask($event)"></app-task-form>

  <!-- Search Bar-->
  <div class="search-container">
    <form [formGroup]="searchForm">
      <input formControlName="query" placeholder="Search tasks" class="search-input" />
    </form>
  </div>

  <!-- Task Sections -->
  <div *ngIf="tasks$ | async as tasks" class="tasks">
    <div class="section to-do">
      <h3>To Do</h3>
      <div *ngFor="let task of tasks | search: searchTerm | filterTodos: 'To Do'">
        <app-todo [task]="task" (onUpdate)="updateTask($event)" (onDelete)="deleteTask($event)"></app-todo>
      </div>
    </div>

    <div class="section in-progress">
      <h3>In Progress</h3>
      <div *ngFor="let task of tasks  | search: searchTerm | filterTodos: 'In Progress'">
        <app-todo [task]="task" (onUpdate)="updateTask($event)" (onDelete)="deleteTask($event)"></app-todo>
      </div>
    </div>

    <div class="section done">
      <h3>Done</h3>
      <div *ngFor="let task of tasks | search: searchTerm | filterTodos: 'Done'">
        <app-todo [task]="task" (onUpdate)="updateTask($event)" (onDelete)="deleteTask($event)"></app-todo>
      </div>
    </div>
  </div>
</div>