<div class="bg-gray-100 flex justify-center items-center h-screen">

  <div class="w-1/2 h-screen hidden lg:block">
    <img src="https://www.pngitem.com/pimgs/m/245-2456104_png-transparent-icon-todo-list-png-download.png"
      alt="Book Image" class="object-cover w-full h-full">
  </div>

  <div class="lg:p-36 md:p-52 sm:20 p-8 w-full lg:w-1/2">
    <div class="text-center mb-5">
      <h1 class="text-2xl font-semibold mb-4">{{title}}</h1>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="mb-4">
        <label for="user" class="block text-gray-600">User</label>
        <input id="user" type="text" formControlName="user" placeholder="Enter your user"
          class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500"
          autocomplete="off" [class.invalid]="loginForm.get('user')?.invalid && loginForm.get('user')?.touched" />
        <div *ngIf="loginForm.get('user')?.invalid && loginForm.get('user')?.touched" class="error">
          User is required
        </div>
      </div>

      <div class="mb-4">
        <label for="password" class="block text-gray-600">Password</label>
        <input id="password" type="password" formControlName="password" placeholder="Enter your password"
          [class.invalid]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
          class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500"
          autocomplete="off" />
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error">
          Password is required
        </div>
      </div>


      <!-- Remember Me Checkbox -->
      <div class="mb-4 flex items-center">
        <input type="checkbox" id="remember" name="remember" class="text-blue-500">
        <label for="remember" class="text-gray-600 ml-2">Remember Me</label>
      </div>
      <!-- Forgot Password Link -->
      <div class="mb-6 text-blue-500">
        <a href="**" class="hover:underline">Forgot Password?</a>
      </div>


      <div class="in text-center">
        <button type="submit" [disabled]="loginForm.invalid"
          class=" bg-blue-500 hover:bg-blue-600 text-white font-semibold rounded-md py-2 px-4 w-full">Log In</button>
        <div class="mt-6 text-blue-500 text-center">
          <a href="**" class="hover:underline">Sign Up</a>
        </div>
      </div>
    </form>
  </div>
</div>